@page "/"

<PageTitle>Live Data</PageTitle>

@foreach (var notify in NotificationsList)
{
    <p>@notify.EventName | @notify.EventValue</p>
}

@using Microsoft.AspNetCore.SignalR.Client;
@using RealtimeDataApp.Data;
@using RealtimeDataApp.Services;
@inject NotificationService NotificationService;
@inject NotificationService notificationService;
@inject NavigationManager Navigation
@code {
    List<NotificationModel> NotificationsList = new List<NotificationModel>();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        var data = await notificationService.GetAllNotifications();
        NotificationsList = data.ToList();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/notificationhub"))
            .Build();

        hubConnection.On<IEnumerable<NotificationModel>>("ReceiveNotification", Notifications =>
            {
                NotificationsList = Notifications.ToList();
                InvokeAsync(StateHasChanged);
            });

        await hubConnection.StartAsync();
    }
}